/* глобальные переменные */
// FONTS
$primary-font: "Roboto Condensed", "Arial", sans-serif;
$secondary-font: "Alumni Sans", "Arial", sans-serif;

// VIEWPORTS
$desktop-width: 1366px;
$tablet-width: 768px;
$mobile-width: 320px;

// COLOR
$color-basis: #102654;
$color-secondary: #102654;
$color-accent: #ffffff;
$secondary-bg: #f8f9fc;
$shadow-number: #e8e8e8;
$price-number: #103aae;
$banner: #ed0233;
$offers: #1c3374;
$dark: #030a1a;
